<nav class="container mx-auto font-main font-medium py-0 static top-0">
    <div class="flex items-center text-md">
        <div class="flex-1 border-b pb-2 px-10">
            <div class="flex justify-between">
                <a class="hover:text-blue-600 transition-colors" href="">Home</a>
                <a class="hover:text-blue-600 transition-colors" href="">Speakers</a>
                <a class="hover:text-blue-600 transition-colors" href="">Schedule</a>
            </div>
        </div>
        
        <img class="w-24 mx-8 mt-1" src="assets/GDG.png" alt="GDG Logo">
        
        <div class="flex-1 border-b pb-2 px-10">
            <div class="flex justify-between">
                <a class="hover:text-blue-600 transition-colors" href="">Team</a>
                <a class="hover:text-blue-600 transition-colors" href="">Blog</a>
                <a class="hover:text-blue-600 transition-colors" href="">Contact Us</a>
            </div>
        </div>
    </div>
</nav>