<div class="speakers">
    <div class="card-scene">
        <div #card id="card" class="card">
        <div class="card-face card-backing">
            <div class="grain-overlay"></div>
            <div class="bump"></div>
            <div class="top-banner"></div>
            <div class="back-main">
            <div class="pipboy">
                <div class="twelve-point-star"></div>
                <img src="https://vignette.wikia.nocookie.net/fallout/images/c/c0/VaultBoyFO3.png/revision/latest?cb=20110809182235" alt="Vault Boy" />
            </div>
            <div class="vault-tec">
                <div class="center"></div>
                <div class="lines">
                <div class="line line--left">
                    <div class="line-inner"></div>
                    <div class="line-inner"></div>
                    <div class="line-inner"></div>
                </div>
                <div class="line line--right">
                    <div class="line-inner"></div>
                    <div class="line-inner"></div>
                    <div class="line-inner"></div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="card-face card-front">
            <h1>
            <span class="bump">
                <b class="outer">
                <b class="inner">1</b>
                </b>
            </span>
            Slugger
            </h1>
            <div class="main-pane">
            <img class="slugger" src="https://vignette.wikia.nocookie.net/fallout/images/6/69/Fo76_Slugger.png/revision/latest/scale-to-width-down/353?cb=20181125171021" alt="Slugger" />
            </div>
            <div class="desc">
            <p>Your two-handed melee weapons now do +10% damage.</p>
            <div class="special" data-category="strength">S</div>
            <div #level id="level" class="level" data-level-cap="3" data-level-current="3">
                <div class="star current-level"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            </div>
            <div class="grain-overlay"></div>
        </div>
        </div>
    </div>
</div>
